.atom-input-submit {
	padding: 10px;
	font-size: 14px;
	font-weight: 300;
	margin: 10px 0;
	box-sizing: border-box;
	background: color-magenta;
	transition: opacity .3s;
	color: #fff;
	border: 0;
}

.atom-input-submit:hover {
	opacity: 0.7;
}