.atom-link-button {
	background: color-magenta;
	padding: 10px 20px;
	transition: opacity .3s;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}

.atom-link-button:hover {
	opacity: 0.7;
}