.atom-menu-link {
	text-decoration: none;
	color: color-magenta;
	font-weight: 300;
	padding: 10px;
	margin: 0 5px;
	display: inline-block;
	text-transform: uppercase;
	transition: background-color .2s, color .2s;
}

.atom-menu-link:hover {
	background-color: color-magenta;
	color: #fff;
}