.atom-text-link {
	font-size: 14px;
	text-decoration: none;
	color: color-magenta;
	font-weight: 300;
	padding:10px 0;
	display: inline-block;
}

.atom-text-link:hover {
	text-decoration: underline;
}