body {
  font-family: 'Roboto', sans-serif;
}
.atom-banner {
  width: 100%;
  max-width: 1200px;
}
.atom-input-submit {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
  box-sizing: border-box;
  background: #f50660;
  transition: opacity 0.3s;
  color: #fff;
  border: 0;
}
.atom-input-submit:hover {
  opacity: 0.7;
}
.atom-input-text {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #f50660;
}
.atom-label {
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
  display: inline-block;
}
.atom-link-button {
  background: #f50660;
  padding: 10px 20px;
  transition: opacity 0.3s;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
.atom-link-button:hover {
  opacity: 0.7;
}
.atom-logo {
  width: 100%;
  max-width: 300px;
  margin-bottom: -3px;
}
.atom-menu-link {
  text-decoration: none;
  color: #f50660;
  font-weight: 300;
  padding: 10px;
  margin: 0 5px;
  display: inline-block;
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s;
}
.atom-menu-link:hover {
  background-color: #f50660;
  color: #fff;
}
.atom-paragraph {
  font-weight: 300;
}
.atom-small {
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
  display: inline-block;
}
.atom-text-link {
  font-size: 14px;
  text-decoration: none;
  color: #f50660;
  font-weight: 300;
  padding: 10px 0;
  display: inline-block;
}
.atom-text-link:hover {
  text-decoration: underline;
}
.atom-textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0;
  box-sizing: border-box;
  resize: vertical;
  border: 1px solid #f50660;
  height: 100px;
}
.molecule-form {
  margin: 20px 0;
}
.molecule-menu {
  width: 100%;
  text-align: right;
}
.organism-footer {
  text-align: center;
  background: #f50660;
}
.organism-footer .atom-small {
  color: #fff;
}
.organism-header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}
@media screen and (max-width: 700px) {
  .organism-header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .organism-header .atom-logo {
    margin: 10px 0;
  }
  .organism-header .molecule-menu {
    text-align: center;
  }
  .organism-header .molecule-menu .atom-menu-link {
    display: block;
    background: #f50660;
    color: #fff;
    border: 1px solid #fff;
  }
  .organism-header .molecule-menu .atom-menu-link:hover {
    background: #fff;
    color: #f50660;
  }
}
.organism-main-contact {
  padding: 0 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.template-home-page .atom-banner {
  margin: 0 auto;
  display: block;
  padding: 0 10px;
}
