.organism-header {
	display: flex;
	align-items: center;
	padding: 0 10px;
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
}

@media screen and (max-width: 700px) {
	.organism-header {
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.organism-header .atom-logo{
		margin: 10px 0;
	}

	.organism-header .molecule-menu {
		text-align: center;
	}
	.organism-header .molecule-menu .atom-menu-link {
		display: block;
		background: color-magenta;
		color: #fff;
		border: 1px solid #fff;
	}
	.organism-header .molecule-menu .atom-menu-link:hover {
		background: #fff;
		color: color-magenta;
	}
}